extends layout

block title
  title Introduction —— Recipe net

block content
  div(class="container")
    div(class="row")
      div(class="col-8")
        div(class="card")
          h5(class="text-left text-info") In our website, you can share or find kinds of recipes of how to make food.
            div Our Beneficiary:
            div(style="text-indent:24px")· people who love cooking
            div(style="text-indent:24px")· people who want to learn how to cook
            div(style="text-indent:24px")· people who want to make friends with the same interest
            div(style="text-indent:24px")· People with specific needs (e.g.  people who are trying to lose weight)
            div Here you can enjoy making delicious food.
            div Finally, welcome to the world of food.
      div(class="col-4")
        img(width=300 src="/aboutphoto.jpg" alt="/aboutphoto.jpg")



