extends layout

block title
  title Introduction —— Recipe net

block content
  div(class="container")
    div(class="row")
      div(class="col-8")
        div(class="card")
          h5(class="text-left text-info") In our website, you can share or find kinds of recipes of how to make food.
            p Our Beneficiary:
            p ·people who love cooking
            p ·people who want to learn how to cook
            p ·people who want to make friends with the same interest
            p ·People with specific needs (e.g.  people who are trying to lose weight)
            p Here you can enjoy making delicious food.
            p Finally, welcome to the world of food.
      div(class="col-4")
        img(width=300 src="/aboutphoto.jpg" alt="/aboutphoto.jpg")



