extends layout

block title
  title About us —— Recipe net

block content
  div(class="container")
    h2(class="text-center text-info") Producer：Theresa，Jane，Joy
      p If you are interested in our website，or have some suggestion，please send us your email to scsj98@gmail.com.
