//extends layout
//
//block content
//  div(class="container")
//    div(class="row")
//      div(class="col")
//      div(class="col")
//        h5 Find password
//        if email
//          form(action="/password", method="post")
//            input(type="text" class="form-control my-2" id="account" name="account" required value=account minlength="5" maxlength="16")
//            input(type="email" class="form-control my-2" id="email" name="email" required value=email)
//            input(type="password" class="form-control my-2" id="password" name="password" value=password required minlength="8" maxlength="16")
//            input(type="password" class="form-control my-2" id="passwordConfirm" name="passwordConfirm" value=passwordConfirm required minlength="8" maxlength="16")
//            hr
//            div
//              button(type="submit" class="btn btn-primary mb-2" disabled) Get the mailbox verification code
//            input(type="text" class="form-control" id="emailCaptcha" name="emailCaptcha" placeholder="Please fill in the verification code received by email")
//            button(type="submit" class="btn btn-primary my-2") Confirm to reset password
//        else
//          form(action="/password", method="post")
//            input(type="text" class="form-control my-2" id="account" name="account" required autofocus="autofocus" placeholder="Account" minlength="5" maxlength="16")
//            input(type="email" class="form-control my-2" id="email" name="email" required placeholder="email")
//            input(type="password" class="form-control my-2" id="password" name="password" placeholder="New password" required minlength="8" maxlength="16")
//            input(type="password" class="form-control my-2" id="passwordConfirm" name="passwordConfirm" placeholder="Confirm the new password" required minlength="8" maxlength="16")
//            hr
//            div
//              button(type="submit" class="btn btn-primary mb-2") Get the mailbox verification code
//            input(type="text" class="form-control" id="emailCaptcha" name="emailCaptcha" placeholder="Please fill in the verification code received by email")
//            button(type="submit" class="btn btn-primary my-2" disabled) Confirm to reset password
//      div(class="col")
