//extends layout
//
//block title
//  title Post article —— Master of cuisine
//
//block content
//  div(class="container")
//    h2(class="text-center text-info") Post article
//    div(class="row")
//      div(class="col")
//        form(action="/article" method="POST" enctype="multipart/form-data")
//          div(class="row mt-2")
//            div(class="col-11")
//              input(class="form-control" type="text" name="title" placeholder="Title" required)
//            div(class="col-1")
//          div(class="row mt-2 px-3")
//            label(for="album" class="col-11 btn btn-primary ml-0") Click to choose the album（JPG/PNG）
//            input(class="col-1" id="album" type="file" name="album" required accept=".jpg, .jpeg, .png")
//          div(id="albumPreview")
//            p No file selected
//          input(class="form-control my-2" type="text" name="tags" placeholder="Article labels, labels between the use of English semicolon semicolon separated, such as: breakfast; Pregnant women; nutrition" required)
//          hr
//          textarea(class="form-control" type="textarea" name="intro" rows="5" required) Introduction of article
//          hr
//          textarea(class="form-control" id="content" type="textarea" name="content" required)
//          input(class="btn btn-primary my-2" type="submit" value="Post article")
//
//  script(src="/js/postArticle.js")
