if recommandWords.length > 0
  div.alert-info.text-center.py-2
    | Based on your footprint, guess what you like：
    each val in recommandWords
      span.recommandWords
        a(href=`/search?foodName=${val.word}&pn=0`)!= val.word
        span &nbsp;&nbsp;Recommendation rate： #{ val.weight }；
